{% load static %}
<div class="answer">
<div class="row">
    <div class="col-1">
        <div class="answer-avatar">
            <img src="{% static "img/img_1.png" %}"" alt="avatar">
        </div>
    </div>
    <div class="col-2">
        <div class=" text-center mt-2">
            <div class="row">
            <h6>{{ answer.likes }}   <button class="like-btn">Like</button></h6>
            </div>
            <div class="row">
                <div class="col-2"></div>
                <div class="col-9">
                    <h6><button class="like-btn">Dislike</button></h6>
                </div>
            </div>
        </div>
    </div>
    <div class="col-9">
        <div class="answer-text">{{ answer.text }}</div>
        <div class="row">
            <div class="col-4">
                <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" >
                    <label class="form-check-label" for="flexCheckDefault">
                        Correct
                    </label>
                </div>
            </div>

        </div>
    </div>
</div>
</div>