{% load static %}
<div class="question">
    <div class="row">
        <div class="col-3">
            <div class="question-avatar">
                <img src="{% static "img/img.png" %}" alt="avatar">
            </div>
            <div class="col-8 text-center mt-2">
                <h6>5 <button class="like-btn">Like</button></h6>
            </div>
        </div>
        <div class="col-9">
            <h2><a href="{% url "question" question.id %}">{{ question.title }}</a></h2>
            <div class="question-text">{{ question.text }}</div>
            <div class="row">
                <div class="col-4">
                <a class="ans-href-with-count" href="{% url "question" question.id %}">answers(5)</a>
                </div>
                <div class="col-8">
                Tags: <a href="{% url 'tag' 'black-jack' %}">black_jack</a>, <a href="{% url 'tag' 'black-jack' %}">black_jack</a>
                </div>
            </div>
        </div>
    </div>
</div>