{% extends "inc/base_login.html" %}
{% load static %}
{% load bootstrap5 %}
{% block content %}
<div class="col-5">
                <div class="login mt-5">
                    <h2>Log In</h2>
                    <form  action="/login/" method="post">
                    {% csrf_token %}
                    {% bootstrap_form form %}

                    <div class="mt-3">
                        <button type="submit" class="btn btn-success">Log In!</button>
                    </div>
                    </form>
                </div>
                <a href="{% url 'signup' %}">create new account</a>
</div>

{% endblock content %}
